body {
    margin: 0;
}

#search-bar {
    font-family:  "InterRegular";
    position: relative;
    color: black;
    text-align: center;
    align-items: center;
    font-size: 18px;
    margin-left: 60px;
}

#free-shipping {
   font-family:  "InterRegular";
    background-color: black;
    color: white;
    padding: 10px;
    font-style: italic;
    text-align: center;
    font-size: 18px;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    background-color: white;
    color: black;
    border-bottom: solid 2px black;
    padding: 10px;
    height: 70px;
}

#header-icons {
    /*display: flex;
    align-items: center;*/
}

#page-title {
    font-family: "InterBold";
    flex-grow: 1; 
    text-align: center; 
    margin-right: 108px;
    font-size: 41px;
}