
#items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100vw;
    height: 70px;
    padding: 0 29px;
    border-bottom: 2px solid black;
}

#free-shipping {
    background-color: black;
    color: white;
    display: flex;
    height: 40px;
    justify-content: center;
    align-items: center;
    font-style: italic;
    font-family: "InterRegular";
    font-size: 1rem;
}

#search-bar {
    display: flex;
}

#search-icon {
    height: 100%;
    width: 40px;
    background-image: url(../../media/icons/search-icon.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#search-bar p {
    align-self: center;
    font-family: "InterMedium";
    font-size: 1rem;
}

h1 {
    text-align: center;
    font-family: "InterBold";
    align-self: center;
    font-size: 2.9rem;
}

#header-icons {
    display: flex;
    justify-content: flex-end;
    gap: 5px;
}

#user-icon {
    height: 100%;
    width: 40px;
    background-image: url(../../media/icons/user-icon-orange.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#heart-icon {
    height: 100%;
    width: 40px;
    background-image: url(../../media/icons/heart-thin-icon-oranges.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#bag-icon {
    height: 100%;
    width: 40px;
    background-image: url(../../media/icons/bag-icon-orange.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}


