body {
    margin: 0;
}

header {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#search-bar {
    font-family:  "InterBold";
    position: relative;
    color: black;
    align-items: center;
    font-size: 1rem;
    margin-left: 12px;
}

#free-shipping {
   font-family:  "InterRegular";
    background-color: black;
    color: white;
    padding: 10px;
    font-style: italic;
    text-align: center;
    font-size: 18px;
}

#items {
    display: flex;
    justify-content: space-between;
    color: black;
    border-bottom: solid 2px black;
    padding: 10px;
    height: 70px;
}

#header-icons {
    display: flex;
    align-items: center;
}

#page-title {
    font-family: "InterBold";
    text-align: center; 
    font-size: 2.8rem;
}

.header-icons {
    height: 100%;
  }