<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="productGridCell.css">
    <title>Document</title>
</head>
<body>
    <div class="product-cell">
        <div class="flag">
            <img src="../../media/flags/image.png">
        </div>
        <div class="shoe-pic">
            <img src="../../media/skobilder/air_book_sneakers.jpg">
        </div>
        <div class="shoe-information">
            <h3 class="type">SNEAKERS</h3>
            <h1 class="name">AIR JORDAN 1 HIGH BLUE</h1>
            <h2 class="price">1250 kr</h2>
        </div>
    </div>
</body>
</html>

