@font-face {
    font-family: "InterRegular";
    src: url(fonts/Inter-Regular.ttf);
}

@font-face {
    font-family: "InterBold";
    src: url(fonts/Inter-Bold.ttf);
}

@font-face {
    font-family: "InterMedium";
    src: url(fonts/Inter-Medium.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}