#filterMain {
    background-color: rgba(0, 0, 0, 0.5);
    width: 260px;
    color: white;

}


#filterReset {
    display: inline;
    padding-left: 2px;
    font-family: "InterMedium";
}


#filterReset:hover {
    cursor: pointer;
}


#filterCountry {
    padding-left: 20px;
}

#filterCountry>h2 {
    font-family: "InterBold";
}

#filterCountry>div {
    font-family: "InterRegular";
}


#filterCountry>div>input {
    border-radius: 80px;
}


#filterCountry>div>input:hover {
    cursor: pointer;
}


#filterCountry>div>label {
    cursor: pointer;
}


#filterPrice {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

#filterPrice>h2 {
    font-family: "InterBold";

}


#filterPrice>input {
    width: 120px;
    display: flex;
}

#filterPrice>output {
    font-family: "InterRegular";
}


#filterType {
    padding-left: 20px;
}

#filterType>h2 {
    font-family: "InterBold";
}

#filterType>div {
    font-family: "InterRegular";
}


#filterType>div>input:hover {
    cursor: pointer;
}


#filterType>div>label {
    cursor: pointer;
}


.checkbox-inline {
    border-radius: 80px;
}