* {
  box-sizing: border-box;
}

#about-us-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  background-color: white;
  border: 0.5px solid black;
  width: 80vw;
  height: 70vh;
  padding: 40px;
  gap: 10px;
  border-radius: 10px;
}

#about-us-modal {
  display: flex;
}

#about-us-modal p,
#about-us-modal h1 {
  color: black;
}

#about-us-popup.show {
  display: initial;
}

#popup-img {
  height: 100%;
  width: 100%;
}

img {
  height: 100%;
}

#popup-text p {
  font-family: "InterRegular";
  font-size: 25px;
  font-weight: 500;
  line-height: normal;
}

#popup-text h1 {
  font-family: "InterRegular";
  font-size: 45px;
  font-weight: bold;
  line-height: normal;
  margin-bottom: 20px;
}

#about-us-button {
  border: 0;
  background-color: rgba(255, 154, 2, 1);
  cursor: pointer;
  padding: 5px 15px;
  color: white;
  font-weight: bold;
  border-radius: 5px;
}

#about-us-button:hover {
  padding: 6px 16px;
}

#about-us-button:active {
  padding: 5px 15px;
}

#close-button-about-us {
  position: absolute;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  font-size: 30px;
  top: -5px;
  right: 5px;

}

#close_button:hover {
  font-size: 52px;
}

#close_button:active {
  font-size: 50px;
}

#overlay_aboutUs {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(83, 83, 83, 0.851);
}

