footer {
    justify-content: space-between;
    background-color: black;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    height: 30vh;
    display: grid;
    grid-template: auto auto;
}

p {
    color:white;
}

a {
    color:white;
}
a:hover {
    color:orange;
}

.footer-left {
grid-column: 1;
}
.footer-left p {
    padding-top: 40px;
    padding-left: 20px;
    margin-bottom: 5px;
}

.footer-nav {
    margin-left: 20px;
    color: white;
    background-color: orange;
    width: 100px;
    text-align: center;
}

.footer-nav:hover {
    opacity: 100;
    background-color: white;
    color: orange;
}


.footer-right {
  grid-column: 2;
  padding-right: 20px;
}

.footer-right p {
    color: orange;
}
.email-container {
    width: 250px;
}
.email-container p {
    color: white;
}

