footer {
    background-color: black;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    height: 30vh;    
}

p {
    color:white;
}

a {
    color:white;
}
a:hover {
    color:orange;
}

.footer-left {
    padding-left: 50px;
}
.footer-left p {
    padding-left: 20px;
    margin-bottom: 5px;
    margin-right: 20px;
}

.footer-nav {
    color: white;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-right {
  padding-right: 50px;
}

.footer-right p {
    color: orange;
}
.email-container {
    width: 250px;
}
.email-container p {
    color: white;
}

