

#view-buttons {
    display: flex;
}

/* MAIN/PRODUCT LIST */

#product-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

/* FOOTER */

footer {
    display: flex;
    justify-content: space-between;
}

/* LEFT SIDE OF FOOTER */

#footer-left {}

#about-us-button {}

#about-us-popup {
    display: none;
}